$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$font-size-body: 18px;
$font-sans: "Bai Jamjuree", sans-serif;
$font-regular: 400;
$font-semibold: 600;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  list-style: none;
  font-family: $font-sans;
}

body {
  min-height: 100vh;
  background: url(../assets/images/bg-header-mobile.png) no-repeat;
}

.header__logo {
  margin: 0 auto;
  margin-block: 5em;
  width: auto;
  height: 5em;
  display: flex;
}

.hero__title {
  font-size: 1.7rem;
  color: $dark-grayish-blue;
  text-align: center;
  padding-inline: 1.2em;
}

.hero__description {
  line-height: 1.5;
  color: $grayish-blue;
  text-align: center;
  margin-block-start: 2em;
  padding-inline: 1.6em;
}

.button-flex {
  display: flex;
  flex-direction: column;
  place-items: center;
  row-gap: 1.4em;
  margin-block-start: 2em;
}

.button {
  padding: 0.9em;
  display: block;
  border-radius: 3em;
  width: 85%;
  text-align: center;
}

.button-ios {
  background-color: $strong-cyan;
  color: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.button-mac {
  background-color: $light-blue;
  color: white;
}

.container__title {
  text-align: center;
  font-size: 1.4rem;
  color: $dark-grayish-blue;
  margin-block-start: 5em;
  margin-inline: 3em;
}

.container__description {
  text-align: center;
  font-size: 0.9rem;
  margin-block-start: 1em;
  margin-inline: 3em;
  line-height: 1.5;
  color: $grayish-blue;
}

.container__image {
  height: 15em;
  margin-inline: 2em;
  margin: 3.5em auto;
  width: auto;
  object-fit: contain;
  display: flex;
}

.track-snippets {
  margin: 5em auto;
}

img {
  max-width: 100%;
}

.flex-items {
  display: flex;
  text-align: center;
  gap: 3em;
  flex-direction: column;

  &__title {
    color: $dark-grayish-blue;
  }

  &__description {
    margin-block-start: 1em;
    color: $grayish-blue;
    margin-inline: 2em;
  }
}

footer ul {
  text-align: center;
  gap: 1em;
  margin-block-end: 3em;
  display: flex;
  color: $dark-grayish-blue;
  flex-direction: column;
}

footer img {
  object-fit: contain;
  max-width: 100%;
  height: 1.3em;
}

// .title {
//   color: $dark-grayish-blue;
//   text-align: center;
//   margin-block-start: 5em;
//   font-size: 1.5em;
//   margin-inline: 2em;
// }

// .description {
//   color: $grayish-blue;
//   margin-inline: 1.3em;
//   margin-block-start: 1em;
//   text-align: center;
//   line-height: 1.5;
// }

.features__icon {
  margin-block-start: 5em;
  height: 2.4em;
  display: flex;
  margin: 4em auto;
}

.features__title {
  text-align: center;
  margin-block-start: 2em;
  color: $dark-grayish-blue;
}

.features__description {
  text-align: center;
  line-height: 1.5;
  color: $grayish-blue;
  margin-inline: 1.1em;
  margin-block-start: 1em;
}

.company-partners {
  display: flex;
  margin-block-start: 6em;
  gap: 4em;
  flex-direction: column;

  & img {
    width: auto;
    height: 1.9em;
    object-fit: contain;
  }
}

.socialicons {
  display: flex;
  justify-content: space-around;
}

img {
  max-width: 100%;
}

.small{
  height: 3em;
  width: auto;
}

@media only screen and ( min-width: 1440px ){

  .button-flex{
    flex-direction: row;
    display: flex;
    place-content: center;
    gap: 2em;
  }

  .button{
    width: fit-content;
  }

  .flex-items{
    display: flex;
    flex-direction: row;
    gap: 4em;

    & div:nth-child(2){
      text-align: left;
    }

    & div img{
      height: 23em;
      position: relative;
      right: 2em;
    }

    &__description{
      margin-inline-start: 0;
    }
  }

  .container__description{
    margin-inline: 30em;
  }

  .features-list{
    display: flex;
  }

  .container__image:nth-child(2){
    height: 23em;
    width: auto;
  }

  .company-partners{
    flex-direction: row;
    justify-content: center;
    margin-block: 12em;
  }

  footer ul{
    display: flex;
    
  }
}


